.fa-solid{
    padding-top: 3px;
    margin: 2px;
}

body {
    background-color: #F5F5F5;
}

.logo {
    height: 40%;
    width: 40%;
}


.dropdown { 
    display: inline-block; 
    position: relative; 
  } 

  .dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.user-dashboard {
   margin-top: 100px;
   margin-bottom: 20px;
}

.navbar,
.footer-div {
    background-color: #FFFFFF;
}

.card {
    height: 220px;
    width: 90%;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 25px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#uploadButton{
    color:black;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background: #E0E0E0;
    border-radius: 5px;
    text-align: center;
    font-size: large;

}

#publishButton{
    color:white;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background:black;
    border-radius: 5px;
    text-align: center;
    font-size: large;

}

#saveButton{
    color:black;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background:white;
    border-radius: 5px;
    text-align: center;
    font-size: large;

}
.image-upload > input
{
    display: none;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  #uploadImage
  {
    background-color: grey;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 100px;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 .m {
    flex: 1;
    display: flex;
    align-items: center;
  }